@charset "UTF-8";

    /* Paleta de cores
    
    verde: #49a09d
    Lilas: #5f2c82
    
    
    */

    *{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }


    body, html {
        background-color: #5f2c82;
        height: 100vh;
        width: 100vw;
    }

    main {
        position: relative;
        height: 100vh;
        width: 100vw;
    }

    #login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;

        background-color: aquamarine;
        width: 250px;
        height: 500px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.518);

        transition: width 0.3s, height 0.3s;
        transition-timing-function: ease;
    }
    
    #login > div#imagem {
        display: block;
        background: #5f2c82 url(../imagens/pexels-carolina-basi-2450719-28221499.jpg) no-repeat;
        height: 200px;
        background-size: cover;
        background-position: left bottom;

    }

    #login > #formulario {

        padding: 10px;
        display: block;
    }

    #formulario > h1 {
        text-align: center;
        margin-bottom: 10px;

    }

    #formulario > p {
        font-size: 0.8em;
    }

    .campo {
        background-color: #5f2c82;
        border: 2px solid #5f2c82;
        display: block;
        width: 100%;
        height: 40px;
        border-radius: 8px;
        margin: 5px 0px;

    }

    div.campo > label {
        display: none;
    }

    #person {
        background-color:#5f2c82;
        color: white;
        font-size: 2em;
        width: 40px;
        padding: 5px;
    }

    #pin {
        background-color: #5f2c82;
        color: white;
        font-size: 2em;
        width: 40px;
        padding: 5px;
    }

    #iemail {
        background-color: #49a09d;
        font-size: 1em;
        height: 100%;
        width: calc(100% - 50px);
        transform: translateZ(10px);
        border: 0px;
        border-radius: 8px;
        padding: 4px;
        
    }

     #isenha {
        background-color: #49a09d;
        font-size: 1em;
        height: 100%;
        width: calc(100% - 50px);
        transform: translateZ(10px);
        border: 0px;
        border-radius: 8px;
        padding: 4px;
    }


    #person {
        font-size: 20px;
    }
    #pin{
        font-size: 20px;
    }


    form > input[type=submit] {
        display: block;
        font-size: 1em;
        width: 100%;
        height: 40px;
        background-color: #49a09d;
        color: white;
        border: none;
        border-radius: 5px;

    }

    form > input[type=submit]:hover {
        background-color: rgba(128, 255, 0, 0.241);
    }

    .campo > input:focus-within {
        background-color: white;
        border: none;
    }

    form > a.botao {
        display: block;
        text-align: center;
        font-size: 1em;
        width: 100%;
        height: 40px;
        padding-top: 5px;
        margin-top: 5px;
        background-color: white;
        color: rgba(128, 255, 0, 0.172);
        border: 1px solid #49a09d;
        border-radius: 7px;
        text-decoration: none;
    }

    form > a.botao:hover {
          background-color: rgba(0, 255, 191, 0.679);
    }





